<div class="row" ng-init="init()" ng-controller="ManoSettingsController">

               
  <div class="col s12">
    <div class="card-panel">
      <div class="card-content">
          <h5>MANOs</h5>

            <div class="row">
              <div class="col s12">
                  <a class="waves-effect blue-grey darken-3 btn right m-l" ng-click="regetWims()"><i class="material-icons left">replay</i>Refresh</a>
                  <a class="modal-trigger waves-effect waves-light btn right m-l" href="#new_mano" style="margin-right: 5px"><i class="material-icons left">library_add</i>Add a MANO</a>

              </div>
            </div>
            <div class="row">
            <table class="bordered responsive-table">          
               <thead>
                <tr>
                  <th data-field="name">Name</th>
                  <th data-field="uuid">id</th>
                  <th data-field="actions"></th>
                </tr>
                </thead>

                <tbody>
                 <tr ng-show="loading_wims">
                    <td colspan="6" class="text-center center">
                      <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr ng-repeat="mano in manos" ng-show="manos.length>0 && !loading_manos" >                    
                    <td>{{mano.name}}</td>
                    <td>{{mano.uuid}}</td>
                    <td>
                      <a ng-click="getManoDetails(mano)" class="modal-trigger waves-effect waves-light">
                          <i class="material-icons left">visibility</i>
                      </a>
                      <a ng-click="deleteWim(vim)" class="modal-trigger waves-effect waves-light">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </td>
                  </tr>
                  <tr ng-hide="manoss.length>0">
                    <td colspan="3" class="center" ng-show="!zero_manos">There are no manos</td>
                  </tr>
                </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
      

<div id="mano_details" class="modal modal-fixed-footer">
  <div class="modal-content">
  <h4>{{selected_mano.name}}</h4>
  <div class="row">
      <div class="col s12">UUID:{{selected_mano.uuid}}</div>
      <div class="col s12">
          <div class="row">
            <strong>Attached Vims</strong>
            <ul>
              <li ng-repeat="as in selected_wim.attached_vims">{{as}}</li>
            </ul>
          </div>          
      </div>

  </div>

  </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>      
    </div>
</div>


<div id="new_mano" class="modal modal-fixed-footer">  
  <div class="modal-content">
      <h4>New MANO</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            
            <div class="input-field col s6">
              <input id="name" ng-model="new_mano.name" type="text" class="validate">                 
              <label for="name">MANO Name</label>
            </div>

            <div class="input-field col s6">
              <select id="MANO_type" ng-model="new_mano.MANO_type" material-select watch>
                <option value="OSM">OSM</option>
                <option value="SONATA">SONATA</option>
              </select>                 
              <label for="MANO_type">MANO type</label>
            </div>
            <div class="input-field col s6">
                 <input id="MANO_version" ng-model="new_mano.MANO_version" type="text" class="validate">
              <label for="MANO_version">MANO version</label>
            </div>
            <div class="input-field col s6">
                 <input id="username" ng-model="new_mano.username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
            <div class="input-field col s6">
                 <input id="pass" ng-model="new_mano.pass" type="password" class="validate">
              <label for="pass">Password</label>
            </div>

          </div>
        </form>     
      </div>
  </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" ng-click="post_a_mano()" class="modal-action modal-close waves-effect waves-green btn-flat ">Save</a>
      <a href="javascript:void(0)" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      
    </div>
</div>











  <div id="new_mano_installed" class="modal modal-fixed-footer">
    <div class="modal-content" style="    background: #80C383;">
      <h5 style="text-align: center; color: white; padding: 10px;">The new WIM has been added!</h5>
      <h6 style="text-align: center;color: white"></h6>
  </div>

    <div class="modal-footer">
      <a href="javascript:void(0)" ng-click="getManos()" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
  </div>

</div>

<script>
 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
    $('select').material_select();
  
  });
  </script>
