<div class="row" ng-init="init()" ng-controller="ManoSettingsController">

  <div class="col s12">
    <div class="card-panel">
      <div class="card-content">
            <h5>Mano</h5>
            <div class="row">
              <div class="col s12">
		<a class="waves-effect blue-grey darken-3 btn right" ng-click="getmano()"><i class="material-icons left">replay</i>Refresh</a>
                <a class="modal-trigger waves-effect waves-light btn right" href="#new_mano" style="margin-right: 5px"><i class="material-icons left">library_add</i>Add a 
                Mano</a>
              </div>
            </div>
            <div class="row">
            <table class="bordered responsive-table">
               <thead>
                <tr>
                  <th data-field="_id">UUID</th>
                  <th data-field="">Vendor</th>
                  <th data-field="">Name</th>
                  <th data-field="">URL</th>
                  <th data-field="actions"></th>
                </tr>
                </thead>

                <tbody>
                  <tr ng-show="loading">
                    <td colspan="6" class="text-center center">
                      <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr ng-repeat="mano in checkmano" ng-show="!loading">
                    <td>{{mano._id}}</td>
                    <td>{{mano.type}}</td> 
		    <td>{{mano.name}}</td>	
		    <td>{{mano.ip}}</td>		
                  </tr>
                   <tr ng-show="zero_mano">
                    <td colspan="6" class="center" ng-show="zero_mano">There are no Mano</td>
                  </tr>
                </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>

 <div id="new_mano" class="modal modal-fixed-footer">
  <div class="modal-content">
  <h4>New Mano</h4>
   <div class="row">
    <form>
      <div class="row">
      <div class="col s12">
        <h6>General Configuration</h6>

          <div class="row">
            <div class="input-field col s12 m4">
              <input id="name" ng-model="new_mano.name" type="text" class="validate">
              <label for="new_mano.name">MANO Name</label>
            </div>
          </div>

	  <div class="input-field col s12 m4">
            <input id="url" ng-model="new_mano.ip" type="text" class="validate">
            <label for="url">URL</label>
          </div>

         <div class="input-field col s12 m4">
            <input id="username" ng-model="new_mano.user" type="text" class="validate">
            <label for="username">username</label>
          </div>

	  <div class="input-field col s12 m4">
            <input id="password" ng-model="new_mano.pwd" type="text" class="validate">
            <label for="password">Password</label>
          </div>

	<div class="input-field col s12">
                  <select class="" id="mano_type" ng-model="new_mano.type"
                          material-select watch>
                      <option value="">Select Mano vendor</option>
                      <option value="osm">OSM</option>
                      <option value="Pishahang">Pishahang</option>
                  </select>
                  <label for="mano_type">Mano Vendor</label>
        </div>
	<pre>mano details:{{new_mano}}</pre>
      </div>
      </div>
     </form>
  </div>
 </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" ng-click="post_a_mano()" class="modal-action modal-close waves-effect waves-green btn-flat ">Save</a>
      <a href="javascript:void(0)" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
       <a href="javascript:void(0)" ng-click="clear()">Clear</a>
    </div>
 </div>

 <div id="new_mano_installed" class="modal modal-fixed-footer">
    <div class="modal-content" style="    background: #80C383;">
      <h5 style="text-align: center; color: white; padding: 10px;">The new Mano has been added!</h5>
      <h6 style="text-align: center;color: white"></h6>
  </div>

    <div class="modal-footer">
      <a href="javascript:void(0)" ng-click="getmano()" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
  </div>

</div>

<script>
 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
    $('select').material_select();
  
  });
  </script>
